[include]
    path = ~/.config/git/user.gitconfig

[include]
    path = ~/.config/git/delta.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
